.color-dot {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    margin: 8px 8px 1px 8px;
    display: inline-block;
  }


.external_links {
  margin: 0.25rem 0.25rem 0.25rem 0.25rem;
  padding: 0.25rem 0.5rem 3rem 0.5rem;
  height: 25px;
  color: #fff;
  background-color: #17a2b8;
  border-radius: 3px;
  border-color: #17a2b8;
  display: inline-block;
  text-decoration: none;
}
.external_links:hover {
  color: #333;
}

.navbar-item {
  margin: 0.75rem;
  color:white !important;
  font-weight: 0;
  letter-spacing: 0;
  text-decoration-line: none;
}
.navbar-item:hover {
  font-weight: bold;
  letter-spacing: 0;
  color: #e0a26c !important;
  border: 1px solid #e0a26c;
}

.nav-link {
  margin: 0.75rem;
  color:white !important;
  letter-spacing: 0;
  font-weight: 0;
  letter-spacing: 0;
  text-decoration-line: none;
}
.nav-link:hover {
  font-weight: bold;
  text-decoration-line: none;
  color: #e0a26c !important;
  border: 1px solid #e0a26c;
}

.contact-button {
  margin-top: 0.70rem;
  margin-left: 0.45rem;
  padding: 0.05rem;
  font-size: 1.3rem;
  font-weight: 0;
  letter-spacing: 0;
  color : white;
  font-family: sans-serif;
  text-decoration-line: none;
  /* font-weight:bold; */
}
.contact-button:hover {
  font-weight: bold;
  color: #e0a26c;
  text-decoration-line: none;
  border: 1px solid #e0a26c;
}

.div-value-info {
  margin: 0.5rem;
  height: 38px;
  padding: 6px 10px;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  background-color: #DDDDDD;
  box-sizing: border-box;
  max-width: 200px;
}
p {
  font-size: 1.4rem;
  padding: 0.5rem;
  margin-left: 2rem;
  max-width: 95%;
  border-color: #6c7ae0;
  border-left: 6px solid #6c7ae0;
  border-radius: 6px;
  background-color: #e3e6ee;
  color: #333;
  transition: 0.5s;
  text-align: left;
}

H4 {
  margin-top: 0.75rem;
  margin-bottom: .25rem;
  font-family: sans-serif;
  line-height: 1.2;  
}

.Section-Title {
  margin-top: 2.5rem;
}

#button-estimate-wait-time {
  margin:2rem;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 5px;
  font-size:1.3rem;
  background-color: #1CA165;
}

.tab-container{
  line-height: 1.8;
  padding: 0.25rem;
}
.tab {
  padding: 0.75rem !important;
  /* background-color: #e3e6ee !important; */
}
.tab--selected {
  /* border-bottom: 3px solid #6c7ae0 !important; */
  border-bottom: none !important;
  border-top: none !important;
  background-color: #8b95e6 !important;
  color: white !important;
  font-weight: bold;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(173, 173, 173); 
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(103, 106, 112); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4B4D53; 
}
